.leftcontainer
  .header
    .sample sample
    .icon
      = fa_icon "edit", class: "edit"
      = fa_icon "cog", class: "cog"
  .leftcontents
    .groups sample1
    .coment best
    .groups sample2
    .coment good