.wrapper

  =render partial: "sidebar"

  .chat
    .header
      .header__left
        .sample sampleグループ
        .member member aaaaaa
      .header__right
        = link_to "Edit","#",class: "button"
    .rightcontents
      .user
        .user__name maeno
        .user__day 2018/01/01
      .messages
        .messages__comments なるほど
      .user
        .user__name maeno
        .user__day 2018/01/01
      .messages
        .messages__comments good
    .form
      %form
        %input.form__comments
        %label.form__image
          = fa_icon 'image', class: 'form__image__icon'
          %input.hidden{type: "file"}
        %input.form__submit{type: 'submit', value: 'Send'}
