.leftcontainer{
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;

  .header{
  	background-color: #253141;
  	width: 300px;
  	height: 100px;
      &__name{
        color: $white;
        font-size: 16px;
        font-weight: bold;
        line-height: 100px;
        margin-left: 20px;
        float: left;
      }
      &__lists{
        display: inline-block;
        float: right;
        .list{
          display: inline-block;
        }
        .icon{
          color: $white;
          line-height: 100px;
          margin-right: 20px;
        }
      }
  }
  .leftcontents{
   background-color: #2f3e51;
   width: 300px;
   height: calc(100vh-100px);
   padding: 0 20px;
   .groups{
   	font-size: 15px;
   	color: $white;
    margin-top: 20px;
   }
   .comment{
   	font-size: 11px;
   	color: $white;
   	margin: 5px 0 40px 0;
   }
  }
}

